#contenitore {
    background-color: rgb(255, 226, 98);

    width: 400px;
    border-radius: 15px;
    margin-bottom: 50px;
}

#titolo {
    font-size: xx-large;
     color: darkred;
}

#img {
    padding-top: 15px;
    padding-bottom: 25px;

    width: 75%;
}

#link {
    text-decoration: none;
}

#descrizione{ 
    color: black;
    padding-left: 15px;
}