#contenitore {
    background-color: rgb(255, 226, 98);

    width: 400px;
    border-radius: 15px;

    text-decoration: none; 
}


#titolo {
    font-size: xx-large;
     color: darkred;
}

#img {
    padding-top: 15px;
    padding-bottom: 25px;

    width: 75%;
}

#link {
    text-decoration: none;
}